.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.myheader {
  background-color: antiquewhite;
  justify-content: center;
  display: flex;
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
}

.LoginFrame{
   background-color: sienna;
   width: 500px;
   margin-top: 10%;
   margin-bottom: 10%;
   padding-left: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  background-color: antiquewhite;
  justify-content: center;
  display: flex;
  position:absolute; 
  top:0px;
   right:0px; 
   bottom:0px; 
   left:0px;
}

.Login_Form{
  background-color: lightsalmon;
  width: 500px;
  margin-top: 10%;
  margin-bottom: 20%;
  height: 40%;
  border-radius: 10px;
  justify-content: center;
}

.field_label{
  text-decoration-style: double ;

}

.table_design{
    padding-left: 100px;
}